.contain-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
    .content-home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}